a{
  text-decoration: none;
  
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  header {
    background-color: #f9ca8f;
    padding: 1rem;
    text-align: center;
  }
  
  main {
    padding: 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
 /* Customize the button style */
 .order-button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Optional: Add hover effect */
.order-button:hover {
  background-color: #ff8533;
}
  
  footer {
    background-color: #f9ca8f;
    padding: 0.5rem;
    text-align: center;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  label,
  button {
    display: block;
    margin-bottom: 1rem;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 0.75rem 1rem;
    background-color: #f9ca8f;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ffd280;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    form {
      padding: 1rem;
    }
  }
  